/* Jumbotron */

.jumbotron {
    background-color: white;
    border-style: solid;
    border-color: black;
}

.jumbotron h1 {
    color: black;
}


/* Body */

body {
    background: white;
}


/* Headers */

h1 {
    font-size: 30px;
    color: black;
}

h2 {
    color: black;
}

h4 {
    font-size: 14px;
    margin: -20px;
}

h5 {
    color: black;
    font-size: 14px;
}

h6 {
    font-size: 14px;
    color: #268BD2;
}

h7 {
    font-size: 14px;
    color: white;
}


/* Filters */

.selDataset {
    color: black;
}


/* Table */

.table {
    color: black;
}

.table-wrapper {
    max-height: 250px;
    overflow: auto;
    display:inline-block;
    width: 90%;
    margin: auto;
  }

.table-wrapper thead th {
    position: sticky; 
    top: 0;
    z-index: 1;
}

table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }
th     { background:#eee; }

/* Panels */

.panel-primary>.panel-heading {
    background-color: white;
    color: black;
    border-color: black;
}

.panel-primary {
    border-color: black;
    display: block;
    margin: auto;
    padding: 10px;
    font: 14px Arial, Helvetica, sans-serif;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width:fit-content;
}

.panel-primary p {
    width:fit-content;
}

.panel-primary span {
    font-weight: bold
}

.panel-title {
    color: black;
    text-align: center;
    font-size: 18px;
}

.panel-body {
    color: black;
    width:fit-content;
}

.box {
    margin-left: 8px;
    margin-right: 8px;
    padding:15px;
}

#flight_title {
    font-size: 22px;
    color: black;
    text-align: center;
}

#flight_table {
    font-size: 13px;
    color:black;
}

#map {
    height: 500px;
    margin: auto;
    margin-top: 5px;
}

#line {
    height: 400px;
    margin: auto;
}

.telemetry {
    display: flexbox;
    margin: auto;
}

.well h5 {
    font-size: 18px;
}

/* Footer */

footer {
    background-color: #268BD2;
}

.row {
    margin-top: 15px;
}

.text {
    display: inline;
}

.block {
    display: block;
}

.back {
    display: block;
    margin:10px;
    padding:15px;
    font-size: 16px;
    color: black;
}

.back p {
    padding:10px;
    margin:0px;
    font-size: 16px;
    color: black;
}

img {
    margin:auto;
    width:80%;
}

/* Nav Bar*/

nav .navi {
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

nav .dropdown-item {
    font-size: 15px;
}

nav #navbarDropdown {
    background-color: lightskyblue;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    width:fit-content;
}

.navbar-brand {
    width:fit-content;
}

#sel {
    color:black;
    font-size: 15px;
}

#selDataset {
    color:black;
    font-size: 15px;
}

#selDataset1 {
    color:black;
    font-size: 15px;
}

#selDataset2 {
    color:black;
    font-size: 15px;
}