/* Jumbotron */

.jumbotron {
    background-color: white;
    border-style: solid;
    border-color: black;
}

.jumbotron h1 {
    color: black;
}


/* Body */

body {
    background: white;
}


/* Headers */

h1 {
    font-size: 30px;
    color: black;
}

h2 {
    color: black;
}

h4 {
    font-size: 14px;
    margin: -20px;
}

h5 {
    color: black;
}

h6 {
    font-size: 14px;
    color: #268BD2;
}

h7 {
    font-size: 14px;
    color: white;
}


/* Filters */

.selDataset {
    color: black;
}


/* Table */

.table {
    color: black;
}


/* Panels */

.panel-primary>.panel-heading {
    background-color: white;
    color: black;
    border-color: black;
}

.panel-primary {
    border-color: black;
}

.panel-title {
    color: black;
}

.panel-body {
    color: black;
}


/* Footer */

footer {
    background-color: #268BD2;
}