<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Aircraft Emergency</title>


    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/solar/bootstrap.min.css" rel="stylesheet" integrity="sha384-Ya0fS7U2c07GI3XufLEwSQlqhpN0ri7w/ujyveyqoxTJ2rFHJcT6SUhwhL7GM4h9" crossorigin="anonymous">
    <link rel="stylesheet" href="css/font-awesome-4.7.0/css/font-awesome.min.css">

    <!-- CSS -->
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <!-- Navigation Section -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="nav nav-pills navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <h7>Pages</h7>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="http://127.0.0.1:5000/api/v1.0/squawk7700">Squawk_7700</a>
                        <a class="dropdown-item" href="http://127.0.0.1:5000/api/v1.0/about">Data</a>
                        <a class="dropdown-item" href="http://127.0.0.1:5000/api/v1.0/about">About</a>
                    </div>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right ">
                <li class="nav-item">
                    <a class="navbar-brand" href="https://github.com/ItsGreyedOut/Project-3"> <i class="fa fa-github" aria-hidden="true"></i>&nbsp;
                        <h4> Repo </h4>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Jumbotron -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 jumbotron text-center">
                <h1>Emergency Aircraft Dashboard</h1>
                <h6><strong>Use the interactive charts below to explore the dataset</strong></h6>
            </div>
            <div class="row">
                <div class="col-md-5">
                </div>
            </div>
            <!-- Filters -->
            <div class="row">
                <div class="col-sm-1">
                </div>
                <div class="col-lg">
                    <div class="filter" id="Date">
                        <h5> <strong>Date</strong>
                        </h5>
                        <select id="selDataset" onchange="optionChanged(this.value)"></select>
                    </div>
                </div>
                <div class="col-lg">
                    <div class="filter" id="Origin">
                        <h5> <strong>Origin</strong>
                        </h5>
                        <select id="selDate" onchange="optionChanged(this.value)"></select>
                    </div>
                </div>
                <br>
                <div class="col-lg">
                    <div class="filter" id="Problem">
                        <h5> <strong>Problem</strong>
                        </h5>
                        <select id="selDataset" onchange="optionChanged(this.value)"></select>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <!-- Table -->
        <div class="row">
            <div class="col-md-12">
                <h2>Flight Results </h2>
                <table class="table table-striped">
                    <tr>
                        <th>Country_code</th>
                        <th>Country</th>
                        <th>Population</th>
                    </tr>
                    {% for row in combined_flight_data %}
                    <tr>
                        <td>{{row.0}}</td>
                        <td>{{row.1}}</td>
                        <td>{{row.2}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <!-- Summary Stats -->
    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-2">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Aircraft Info</h3>
                    </div>
                    <div id="sample-metadata" class="panel-body">
                        <div id="aircraft_info"></div>
                    </div>
                </div>
        </div>
        <div class="col-sm-2">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Flight Info</h3>
                    </div>
                    <div id="sample-metadata" class="panel-body">
                        <div id="flight_info"></div>
                    </div>
                </div>
        </div>
        <!-- Plots -->
        <div class="col-sm-1">
        </div>
        <div class="col-md">
            <div id="line"></div>
        </div>
    </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-md-10">
            <h3 class="panel-title">Flight Map</h3>
            <div id="map"></div>
        </div>
    </div>
    <br>

    <!-- Add Javascript, Plotly and D3  -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- Reference Data from Flask -->
    <script>const dataset = {{ data | tojson | safe }}</script>
    <script src="static/visualizations.js"></script>

</body>
<!-- Footer Section -->
<br>
<br>
<br>
<footer class="footer navbar-expand-lg text-center text-white">
    <div class="footer-copyright">
        <div class="top"> <span> Emergency Aircraft Dashboard </span>
        </div>
        <div class="bottom"> <span>2021</span>
        </div>
    </div>
</footer>

</html>